@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color:black; */
  /* color:white;  */
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: rgb(23, 23, 23);
  color: white;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  /* Use 'scroll' to enable horizontal scrolling */
  scrollbar-width: none;
  /* Hide the scrollbar in Firefox */
  -ms-overflow-style: none;

  /* Hide the scrollbar in Internet Explorer/Edge */
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}


.category-button {
  flex: 0 0 auto;
  /* flex:4; */
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #272727;
  background-color: #272727;
  color: white;
  margin-left: 6px;
  margin-right: 6px;
  font-weight: bold;
  cursor: pointer;


}

.category-button:focus {
  background-color: white;
  color: black;
}

.search_input {
  height: 35px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 15px;
  width: 400px;
  color: white;
  border: 1px solid grey;
  background-color: rgb(23, 23, 23);
  outline: none;
}

.search_input:focus {
  border: 3px solid lightblue;
}


/* .changed_search_input {
  height:35px;
  border-top-left-radius:20px;
  border-bottom-left-radius:20px;
  padding:2px;
  color:white;
  border:1px solid grey;
} */

.custom-tab {
  color: grey;
}

.default_bg {
  background-color: black;
  color: white;
}

.tab_text {
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.912);
  /* text-shadow: 2px 2px #ff0000; */
}

/* @media screen and (min-width: 480px) {
 .search_input{
  width:200px;
 } 
} */

@media only screen and (max-width: 640px) {
  .search_input {
    width: 150px;
  }

}